* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo .web {
  color: #2196f3;
}

.logo .stud {
  color: #000000;
}

.nav-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  padding: 0;
  margin: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  margin-right: 49px;
  position: relative;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav .portfolio {
  color: #2196f3;
}

.nav .portfolio .nav-link::after {
  width: 77px;
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  height: 4px;
  min-width: 48px;
  border: 1px solid #2196f3;
  border-radius: 2px;
  overflow: visible;
  background-color: #2196f3;
}

.addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addr__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addr__link:focus, .addr__link:hover {
  color: #2196f3;
}

.addr__link::last-child {
  margin-right: 0;
}

.addr__link:hover .mail-icon,
.addr__link:hover .tel-icon,
.addr__link:focus .mail-icon,
.addr__link:focus .tel-icon {
  fill: #2196f3;
}

.mail-icon {
  fill: #757575;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.tel-icon {
  fill: #757575;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.filter {
  padding-top: 100px;
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter .all-menu {
  background-color: #2196f3;
  color: #ffffff;
}

.filter-btn {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.filter-btn:focus, .filter-btn:hover {
  outline: none;
  background-color: #2196f3;
  color: #ffffff;
}

.filter-item {
  margin-right: 8px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-item {
  margin-bottom: 30px;
}

.gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery-link:hover, .gallery-link:focus {
  display: block;
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.gallery-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery-thumb {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.gallery-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  padding: 63px 24px;
  color: #ffffff;
}

.border-name {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #f5f4fa;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.footer {
  max-width: 1600px;
  margin-top: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.footer .logo .stud {
  color: #ffffff;
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .contacts__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer .contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .contacts__link:not(:last-child) {
  margin-bottom: 9px;
}

.footer__sotial-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .combine-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .sotial-list {
  margin: 0;
  padding: 0;
}

.footer .sotial-list-item {
  margin-right: 10px;
}

.footer .sotial-list-item:last-child {
  margin-right: 0;
}

.footer .sotial-div {
  padding-top: 12px;
  margin-left: 70px;
}

.footer .sotial-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer .sotial-link {
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.sotial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.sotial-list-item {
  width: 44px;
  height: 44px;
}

.sotial-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.sotial-link:hover, .sotial-link:focus {
  outline: none;
  border: none;
  background-color: #2196f3;
  border-radius: 50%;
}

.sotial-link:hover .sotial-icon,
.sotial-link:focus .sotial-icon {
  fill: #ffffff;
}

.sotial-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.title-mailing {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: 12px;
  margin-left: 93px;
  margin-bottom: 20px;
}

.input-mailing {
  margin-left: 93px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  padding: 15px 16px;
  color: #ffffff;
}

.btn-mailing {
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.combine-input-mailing-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.div-icon-mailing {
  position: relative;
}

.icon-mailing {
  position: absolute;
  top: 50%;
  right: 28px;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=portfolio.css.map */