.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  .combine-nav-addr {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
      height: 80px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}
