.header {
  display: block;
  align-items: center;
  justify-content: flex-start;
  .combine-nav-addr {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
